.temple_bg {
  position: "absolute";
  width: "100%";
  height: "100%";
  object-fit: "cover";
  object-position: "center 200px";
}
.temple {
    position: "absolute";
    width: "100%";
    height: "100%";
    object-fit: "cover";
    object-position: "center 200px";
}
